In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [3]:
data=pd.read_csv('real_estate_price_size_year.csv')
data

         price     size  year
0   234314.144   643.09  2015
1   228581.528   656.22  2009
2   281626.336   487.29  2018
3   401255.608  1504.75  2015
4   458674.256  1275.46  2009
..         ...      ...   ...
95  252460.400   549.80  2009
96  310522.592  1037.44  2009
97  383635.568  1504.75  2006
98  225145.248   648.29  2015
99  274922.856   705.29  2006

[100 rows x 3 columns]

In [4]:
data.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [5]:
y=data['price']
x=data[['size','year']]

In [6]:
reg=LinearRegression()

In [7]:
reg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
reg.score(x,y)

0.7764803683276793

In [9]:
x.shape

(100, 2)

In [10]:
r2=reg.score(x,y)
n=x.shape[0]
p=x.shape[1]
adj_r2=1-(1-r2)*(n-1)/(n-p-1)

In [11]:
adj_r2

0.77187171612825

In [12]:
from sklearn.feature_selection import f_regression

In [13]:
f_regression(x,y)

(array([285.92105192,   0.85525799]), array([8.12763222e-31, 3.57340758e-01]))

In [14]:
p_values=f_regression(x,y)[1]

In [15]:
p_values=p_values.round(3)

In [16]:
p_values

array([0.   , 0.357])

In [19]:
summary=pd.DataFrame(data=x.columns.values, columns=["Features"])
summary["p_values"]=p_values
summary["coefficients"]=reg.coef_
summary

  Features  p_values  coefficients
0     size     0.000    227.700854
1     year     0.357   2916.785327

In [20]:
reg.intercept_

-5772267.017463278