# Loading Packages

In [2]:
import pandas as pd 
import numpy as np                     # For mathematical calculations 
import seaborn as sns                  # For data visualization 
import matplotlib.pyplot as plt  # For plotting graphs 
%matplotlib inline 
import warnings   # To ignore any warnings warnings.filterwarnings("ignore")

# Reading data

In [3]:
data = pd.read_csv('Transformed_Housing_Data2.csv')
data.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0

# Understanding Data

In [4]:
#check the features present in our data
data.columns

Index(['Sale_Price', 'No of Bedrooms', 'No of Bathrooms',
       'Flat Area (in Sqft)', 'Lot Area (in Sqft)', 'No of Floors',
       'No of Times Visited', 'Overall Grade',
       'Area of the House from Basement (in Sqft)', 'Basement Area (in Sqft)',
       'Age of House (in Years)', 'Latitude', 'Longitude',
       'Living Area after Renovation (in Sqft)',
       'Lot Area after Renovation (in Sqft)', 'Years Since Renovation',
       'Condition_of_the_House_Excellent', 'Condition_of_the_House_Fair',
       'Condition_of_the_House_Good', 'Condition_of_the_House_Okay',
       'Ever_Renovated_Yes', 'Waterfront_View_Yes',
       'Zipcode_Group_Zipcode_Group_1', 'Zipcode_Group_Zipcode_Group_2',
       'Zipcode_Group_Zipcode_Group_3', 'Zipcode_Group_Zipcode_Group_4',
       'Zipcode_Group_Zipcode_Group_5', 'Zipcode_Group_Zipcode_Group_6',
       'Zipcode_Group_Zipcode_Group_7', 'Zipcode_Group_Zipcode_Group_8',
       'Zipcode_Group_Zipcode_Group_9'],
      dtype='object')

In [5]:
# the shape of the dataset.
data.shape

(21609, 31)

### Q1:   Find out statistical information about features using describe function in the dataset?

In [6]:
"Write your code here"
data.describe()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
count,2.160900e+04,21609.000000,21609.000000,21609.000000,2.160900e+04,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,...,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000
mean,5.116186e+05,3.370771,2.114709,2079.872553,1.510641e+04,1.494215,0.234347,7.623490,1788.319589,291.513490,...,0.007543,0.109399,0.188625,0.149706,0.186681,0.043824,0.076450,0.012449,0.027720,0.002314
std,2.500620e+05,0.929916,0.770097,918.347816,4.142353e+04,0.539909,0.766382,1.105519,827.977604,442.570991,...,0.086525,0.312146,0.391220,0.356791,0.389665,0.204709,0.265722,0.110879,0.164173,0.048048
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,1.000000,290.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.219500e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,7.000000,1190.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,0.000000,7.000000,1560.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068700e+04,2.000000,0.000000,8.000000,2210.000000,560.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.129575e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,4.000000,10.000000,9410.000000,4820.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Q2: Find out the number of missing values for each feature in the dataset ?

In [10]:
"Write your code here"
data.isnull().sum()
#data.info()

Sale_Price                                   0
No of Bedrooms                               0
No of Bathrooms                              0
Flat Area (in Sqft)                          0
Lot Area (in Sqft)                           0
No of Floors                                 0
No of Times Visited                          0
Overall Grade                                0
Area of the House from Basement (in Sqft)    0
Basement Area (in Sqft)                      0
Age of House (in Years)                      0
Latitude                                     0
Longitude                                    0
Living Area after Renovation (in Sqft)       0
Lot Area after Renovation (in Sqft)          0
Years Since Renovation                       0
Condition_of_the_House_Excellent             0
Condition_of_the_House_Fair                  0
Condition_of_the_House_Good                  0
Condition_of_the_House_Okay                  0
Ever_Renovated_Yes                           0
Waterfront_View_Yes                          0
Zipcode_Group_Zipcode_Group_1                0
Zipcode_Group_Zipcode_Group_2                0
Zipcode_Group_Zipcode_Group_3                0
Zipcode_Group_Zipcode_Group_4                0
Zipcode_Group_Zipcode_Group_5                0
Zipcode_Group_Zipcode_Group_6                0
Zipcode_Group_Zipcode_Group_7                0
Zipcode_Group_Zipcode_Group_8                0
Zipcode_Group_Zipcode_Group_9                0
dtype: int64

### Q3: If sales price is greater/less than 2 standard deviation from the mean sale price then delete such rows?
* How the shape of data will change after removing these values ?

In [16]:
import statistics
print("Before deleting outliers length = " , data.shape)                
target = data['Sale_Price']
target_mean = target.mean()
target_sd = statistics.stdev(target)

print("After deleting outliers length = " ,  data.shape)

Before deleting outliers length =  (21609, 31)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Q4: Divide the features into Numerical and Categorical type ?

In [18]:
data.columns.values

array(['Sale_Price', 'No of Bedrooms', 'No of Bathrooms',
       'Flat Area (in Sqft)', 'Lot Area (in Sqft)', 'No of Floors',
       'No of Times Visited', 'Overall Grade',
       'Area of the House from Basement (in Sqft)',
       'Basement Area (in Sqft)', 'Age of House (in Years)', 'Latitude',
       'Longitude', 'Living Area after Renovation (in Sqft)',
       'Lot Area after Renovation (in Sqft)', 'Years Since Renovation',
       'Condition_of_the_House_Excellent', 'Condition_of_the_House_Fair',
       'Condition_of_the_House_Good', 'Condition_of_the_House_Okay',
       'Ever_Renovated_Yes', 'Waterfront_View_Yes',
       'Zipcode_Group_Zipcode_Group_1', 'Zipcode_Group_Zipcode_Group_2',
       'Zipcode_Group_Zipcode_Group_3', 'Zipcode_Group_Zipcode_Group_4',
       'Zipcode_Group_Zipcode_Group_5', 'Zipcode_Group_Zipcode_Group_6',
       'Zipcode_Group_Zipcode_Group_7', 'Zipcode_Group_Zipcode_Group_8',
       'Zipcode_Group_Zipcode_Group_9'], dtype=object)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 31 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sale_Price                                 21609 non-null  float64
 1   No of Bedrooms                             21609 non-null  int64
 2   No of Bathrooms                            21609 non-null  float64
 3   Flat Area (in Sqft)                        21609 non-null  float64
 4   Lot Area (in Sqft)                         21609 non-null  float64
 5   No of Floors                               21609 non-null  float64
 6   No of Times Visited                        21609 non-null  int64
 7   Overall Grade                              21609 non-null  int64
 8   Area of the House from Basement (in Sqft)  21609 non-null  float64
 9   Basement Area (in Sqft)                    21609 non-null  int64
 10  Age of House (in Years)                    21609 non-null  int64
 11  Latitude                                   21609 non-null  float64
 12  Longitude                                  21609 non-null  float64
 13  Living Area after Renovation (in Sqft)     21609 non-null  float64
 14  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 15  Years Since Renovation                     21609 non-null  int64
 16  Condition_of_the_House_Excellent           21609 non-null  int64
 17  Condition_of_the_House_Fair                21609 non-null  int64
 18  Condition_of_the_House_Good                21609 non-null  int64
 19  Condition_of_the_House_Okay                21609 non-null  int64
 20  Ever_Renovated_Yes                         21609 non-null  int64
 21  Waterfront_View_Yes                        21609 non-null  int64
 22  Zipcode_Group_Zipcode_Group_1              21609 non-null  int64
 23  Zipcode_Group_Zipcode_Group_2              21609 non-null  int64
 24  Zipcode_Group_Zipcode_Group_3              21609 non-null  int64
 25  Zipcode_Group_Zipcode_Group_4              21609 non-null  int64
 26  Zipcode_Group_Zipcode_Group_5              21609 non-null  int64
 27  Zipcode_Group_Zipcode_Group_6              21609 non-null  int64
 28  Zipcode_Group_Zipcode_Group_7              21609 non-null  int64
 29  Zipcode_Group_Zipcode_Group_8              21609 non-null  int64
 30  Zipcode_Group_Zipcode_Group_9              21609 non-null  int64
dtypes: float64(9), int64(22)
memory usage: 5.1 MB

In [19]:
Numerical_Type = ['Sale_Price', 'No of Bedrooms', 'No of Bathrooms',
       'Flat Area (in Sqft)', 'Lot Area (in Sqft)', 'No of Floors',
       'No of Times Visited', 'Overall Grade',
       'Area of the House from Basement (in Sqft)',
       'Basement Area (in Sqft)', 'Age of House (in Years)', 'Latitude',
       'Longitude', 'Living Area after Renovation (in Sqft)',
       'Lot Area after Renovation (in Sqft)', 'Years Since Renovation']

Categorical_Type = ['Condition_of_the_House_Excellent', 'Condition_of_the_House_Fair',
       'Condition_of_the_House_Good', 'Condition_of_the_House_Okay',
       'Ever_Renovated_Yes', 'Waterfront_View_Yes',
       'Zipcode_Group_Zipcode_Group_1', 'Zipcode_Group_Zipcode_Group_2',
       'Zipcode_Group_Zipcode_Group_3', 'Zipcode_Group_Zipcode_Group_4',
       'Zipcode_Group_Zipcode_Group_5', 'Zipcode_Group_Zipcode_Group_6',
       'Zipcode_Group_Zipcode_Group_7', 'Zipcode_Group_Zipcode_Group_8',
       'Zipcode_Group_Zipcode_Group_9']



numerical_features   = data[Numerical_Type]
categorical_features = data[Categorical_Type]

numerical_features,categorical_features

(       Sale_Price  No of Bedrooms  No of Bathrooms  Flat Area (in Sqft)  \
 0        221900.0               3             1.00               1180.0
 1        538000.0               3             2.25               2570.0
 2        180000.0               2             1.00                770.0
 3        604000.0               4             3.00               1960.0
 4        510000.0               3             2.00               1680.0
 ...           ...             ...              ...                  ...
 21604    360000.0               3             2.50               1530.0
 21605    400000.0               4             2.50               2310.0
 21606    402101.0               2             0.75               1020.0
 21607    400000.0               3             2.50               1600.0
 21608    325000.0               2             0.75               1020.0

        Lot Area (in Sqft)  No of Floors  No of Times Visited  Overall Grade  \
 0                  5650.0           1.0                    0              7
 1                  7242.0           2.0                    0              7
 2                 10000.0           1.0                    0              6
 3                  5000.0           1.0                    0              7
 4                  8080.0           1.0                    0              8
 ...                   ...           ...                  ...            ...
 21604              1131.0           3.0                    0              8
 21605              5813.0           2.0                    0              8
 21606              1350.0           2.0                    0              7
 21607              2388.0           2.0                    0              8
 21608              1076.0           2.0                    0              7

        Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
 0                                         1180.0                        0
 1                                         2170.0                      400
 2                                          770.0                        0
 3                                         1050.0                      910
 4                                         1680.0                        0
 ...                                          ...                      ...
 21604                                     1530.0                        0
 21605                                     2310.0                        0
 21606                                     1020.0                        0
 21607                                     1600.0                        0
 21608                                     1020.0                        0

        Age of House (in Years)  Latitude  Longitude  \
 0                           63   47.5112   -122.257
 1                           67   47.7210   -122.319
 2                           85   47.7379   -122.233
 3                           53   47.5208   -122.393
 4                           31   47.6168   -122.045
 ...                        ...       ...        ...
 21604                        9   47.6993   -122.346
 21605                        4   47.5107   -122.362
 21606                        9   47.5944   -122.299
 21607                       14   47.5345   -122.069
 21608                       10   47.5941   -122.299

        Living Area after Renovation (in Sqft)  \
 0                                      1340.0
 1                                      1690.0
 2                                      2720.0
 3                                      1360.0
 4                                      1800.0
 ...                                       ...
 21604                                  1530.0
 21605                                  1830.0
 21606                                  1020.0
 21607                                  1410.0
 21608                                  1020.0

        Lot Area after Renovation (in Sqft)  Years Since Renovation
 0                                     5650                       0
 1                                     7639                      26
 2                                     8062                       0
 3                                     5000                       0
 4                                     7503                       0
 ...                                    ...                     ...
 21604                                 1509                       0
 21605                                 7200                       0
 21606                                 2007                       0
 21607                                 1287                       0
 21608                                 1357                       0

 [21609 rows x 16 columns],
        Condition_of_the_House_Excellent  Condition_of_the_House_Fair  \
 0                                     0                            1
 1                                     0                            1
 2                                     0                            1
 3                                     1                            0
 4                                     0                            1
 ...                                 ...                          ...
 21604                                 0                            1
 21605                                 0                            1
 21606                                 0                            1
 21607                                 0                            1
 21608                                 0                            1

        Condition_of_the_House_Good  Condition_of_the_House_Okay  \
 0                                0                            0
 1                                0                            0
 2                                0                            0
 3                                0                            0
 4                                0                            0
 ...                            ...                          ...
 21604                            0                            0
 21605                            0                            0
 21606                            0                            0
 21607                            0                            0
 21608                            0                            0

        Ever_Renovated_Yes  Waterfront_View_Yes  Zipcode_Group_Zipcode_Group_1  \
 0                       0                    0                              0
 1                       1                    0                              0
 2                       0                    0                              0
 3                       0                    0                              0
 4                       0                    0                              0
 ...                   ...                  ...                            ...
 21604                   0                    0                              0
 21605                   0                    0                              1
 21606                   0                    0                              0
 21607                   0                    0                              0
 21608                   0                    0                              0

        Zipcode_Group_Zipcode_Group_2  Zipcode_Group_Zipcode_Group_3  \
 0                                  0                              0
 1                                  1                              0
 2                                  1                              0
 3                                  0                              1
 4                                  0                              0
 ...                              ...                            ...
 21604                              0                              1
 21605                              0                              0
 21606                              0                              1
 21607                              0                              0
 21608                              0                              1

        Zipcode_Group_Zipcode_Group_4  Zipcode_Group_Zipcode_Group_5  \
 0                                  0                              0
 1                                  0                              0
 2                                  0                              0
 3                                  0                              0
 4                                  1                              0
 ...                              ...                            ...
 21604                              0                              0
 21605                              0                              0
 21606                              0                              0
 21607                              1                              0
 21608                              0                              0

        Zipcode_Group_Zipcode_Group_6  Zipcode_Group_Zipcode_Group_7  \
 0                                  0                              0
 1                                  0                              0
 2                                  0                              0
 3                                  0                              0
 4                                  0                              0
 ...                              ...                            ...
 21604                              0                              0
 21605                              0                              0
 21606                              0                              0
 21607                              0                              0
 21608                              0                              0

        Zipcode_Group_Zipcode_Group_8  Zipcode_Group_Zipcode_Group_9
 0                                  0                              0
 1                                  0                              0
 2                                  0                              0
 3                                  0                              0
 4                                  0                              0
 ...                              ...                            ...
 21604                              0                              0
 21605                              0                              0
 21606                              0                              0
 21607                              0                              0
 21608                              0                              0

 [21609 rows x 15 columns])

### Q5: Fill the correct values for creating heatmap representing the correlation from the data?

In [ ]:
def correlation_heatmap(data):
    _, ax = plt.subplots(figsize = (25, 20))
    colormap= sns.diverging_palette(220, 10, as_cmap = True)
    ??

correlation_heatmap(??)

### Segregating variables - Dependent & Independent

In [12]:
#seperating independent and dependent variables

data_x = data.drop(['Sale_Price'], axis=1)
data_y = data['Sale_Price']

### Q6: Which of these following will lead to right formations of train, test and validation set ?

In [13]:
from sklearn.model_selection import train_test_split as tts

* A

In [15]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.2 , random_state = 50)
train_x, val_x, train_y, val_y = tts(data_x, data_y, test_size = 0.2 , random_state = 51)

* B

In [16]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.6 , random_state = 50)
train_x, val_x, train_y, val_y = tts(data_x, data_y, test_size = 0.6 , random_state = 51)

* C

In [17]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.6 , random_state = 50)
train_x, val_x, train_y, val_y = tts(train1_x, train1_y, test_size = 0.6 , random_state = 51)

* D

In [18]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.2 , random_state = 50)
train_x, val_x, train_y, val_y = tts(train1_x, train1_y, test_size = 0.2 , random_state = 51)

Ans :

### Q7 : What is wrong with this code for scaling the data ?

In [19]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(data_x,data_y, random_state = 86)

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
train_x = ss.fit_transform(train_x)
test_x = ss.fit_transform(test_x)

Ans :