In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [6]:
data=pd.read_csv('real_estate_price_size.csv')

In [7]:
data

         price     size
0   234314.144   643.09
1   228581.528   656.22
2   281626.336   487.29
3   401255.608  1504.75
4   458674.256  1275.46
..         ...      ...
95  252460.400   549.80
96  310522.592  1037.44
97  383635.568  1504.75
98  225145.248   648.29
99  274922.856   705.29

[100 rows x 2 columns]

In [9]:
y=data['price']
x=data['size']

In [12]:
x_mat=x.values.reshape(-1,1)
x_mat.shape

(100, 1)

In [13]:
reg=LinearRegression()

In [15]:
reg.fit(x_mat,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
reg.score(x_mat,y)

0.7447391865847586

In [19]:
reg.coef_

array([223.17874259])

In [20]:
reg.intercept_

101912.60180122906

In [21]:
reg.predict([[750]])

array([269296.65874718])